# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local

# Database
*.db
*.db-journal

# Build output
.git/
.next/
.turbo/
